<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>MISSON TO MARS</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Pages!!!!</a></p>
      </div>
      <h2> {{listings.news_title}} </h2>
      <h2> {{listings.news_p}} </h2>
  
  
      <img src="{{listings.featured_image_url}}">
  
      <h3 > {{listings.facts_table|safe}} </h3>
      
  
      {%for i in listings.hemisphere_image_urls %}
      <img src="{{i.img_url}}">
      <h3>{{i.title}}</h3>
      {% endfor %}
  




</div>
</div>
</body>

</html>